*{
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
}

ul {
    list-style:none;
}

p,span{
    font-size:0.5rem;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;

}

html{
    height: 100%;
}

.good {
    position: relative;
    height: 100%;
}

/*
header{
    position: absolute;
    top: 0;
    background-color: cornflowerblue;
    height:2.5rem;
    width: 100%;
    text-align: center;
    border-bottom:solid darkblue 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    float: left;
}

header p{
    font-size: 1.5rem;
    color: white;
    line-height: 2.5rem;

}

header p span{
    font-size: 0.8rem;
    color: #d3d3f4;

}

#content{
    position: absolute;
    top: 0;
    background-color: #e0e1f4;
    z-index: 1;
    width: 100%;
    display: none;
    height: 100%;
    margin-top:2.5rem;
}

#CenterTaskList{
    position: absolute;
    top:0;
    background-color: #e0e1f4;
    z-index: 1;
    width: 100%;
    display: none;
    height: 100%;
    margin-top: 2.5rem;
}

#LeftClassList{
    position: absolute;
    top: 0;
    background-color: white;
    width: 100%;
    z-index: 3;
    border-bottom:solid violet 1px;
    height: 100%;
    margin-top: 2.5rem;
}


#ClassListName{
    height: 1.5rem;
    font-size: 0.9rem;
    background-color: white;
}
.classListAll{
    width: 100%;
}

.ClassTask[title="0"]{
display: none;
}

.ClassTask[title="1"]{
display: block;
}

.classListAll li,.classListAll p{
    height: 2rem;
    width: 100%;
}

.classListAll li{
    font-size: 0.7rem;
    color:black;
    border-bottom: solid gray 0.08rem;
    vertical-align:middle;
    width: 100%;

}

.classListAll p{
    font-size: 0.8rem;
   line-height: 2rem;
}

.taskList li span{
    display: none;
}

.LiModel{
    display: none;
}
#addClassBtn{
   position: fixed;
    bottom: 0;
    height: 1.5em;
    left: 50%;
    border: solid orange 0.08rem;
    width: 50%;
    margin-left: -25%;
    margin-bottom: 0.5rem;
    background-color: darkgray;
    display:none;
}
#addClassBtn p{
    font-size: 0.8rem;
    text-align: center;

}

#LeftClassList > p{

    margin: 15px 0;
    line-height: 1.5rem;
}
#classListFather{
    margin: 0;
}
#classListFather [title = "1"] p{
    background-color: lightblue;
}
#classListFather [title = "1"] ul{
    display: block;
}
#classListFather [title = "0"] ul{
    display: none;
}
#classListFather [title = "0"] p{
    background-color: darkgray;
}
#classListFather ul{
    background-color: white;
}

#btn span{
    font-size:1rem;
    width: 29%;
    float: left;
    border:solid orange 0.06rem;
    margin:  0 10%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 1.5rem;
    word-wrap:break-word;
    overflow:hidden;
    text-align: center;
    line-height: 1.5rem;
}


#okBtn span{

    height: 1.5rem;
    font-size: 1rem;
    width: 29%;
    float: right;
    border:solid orange 0.06rem;
    margin: 0 10%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    word-wrap:break-word;overflow:hidden;

    text-align: center;
    line-height: 1.5rem;
}

.completed {
    border:solid darkslategray 0.06rem;
}

#screened{
    margin: 0.5rem 0 0.5rem 0 ;
    border-bottom: solid darkgray 0.08rem;
}

#chooseLeft{
    float: left;
    margin-left: 0.5rem;
    border:solid #6495ed 0.08rem;
    border-bottom-left-radius: 0.32rem;
    border-top-left-radius:0.32rem;
    width: 5rem;
}

#chooseCenter{
    float: left;
    border-bottom:solid #6495ed 0.08rem;
    border-top:solid #6495ed 0.08rem;
    width: 5rem;
    left: 5rem;
}
#chooseRight{
    float: left;
    border:solid #6495ed 0.08rem;
    border-bottom-right-radius: 0.32rem;
    border-top-right-radius:0.32rem;
    width: 5rem;
    left: 11rem;
}
#screened div{
    height: 1.6rem;
}
#screened div p{
    font-size: 0.8rem;
    line-height: 1.6rem;
    text-align: center;
}
.fxxkFather li{
    background-color:#6495ed;
    margin:0.12rem 0 ;
    color: white;
    height:1.7rem;
    overflow: hidden;
    font-size: 0.8rem;
    line-height: 1.7rem;
}
.fxxkFather span{
    display: none;
}

*/

.got,.choosed{
    background-color: #6495ed;
    color: white;
}


.showEd{
    display: block;
}
.notShowEd{
    display: none;
}

.clicked{
    background-color:  #6495ed;
    color:white;
}







#taskListFather .notShowEd{
    display: none;
}
#taskListFather .showEd span{
    font-size: 1rem;
    height: 2rem;
    line-height: 2rem;

    margin: 0.08rem 0;
}
#addTaskBtn{
    float: left;
    position: absolute;
    bottom: 0;
    height: 1.5rem;
    left: 50%;
    border: solid orange 0.08rem;
    width: 50%;
    margin-left: -25%;
    margin-bottom: 0.5rem;
    background-color: darkgray;
    display:none;
}
#addTaskBtn p{
    font-size: 0.8rem;
    text-align: center;
}

#createTask{
    display: none;
}


/*  ±à¼­ ±à¼­ÄÇÒ³µÄcss   */
#editTask{
    display: none;

}

#editTask div{
    height:2.5rem;

}


#btn{
    margin-top: 1.5rem;
}

#editTask span{
    font-size:1rem;
}

#editDate,#editName,#editNnn {
    font-size: 0.8rem;
}

#sureEdit{
    height: 1.5rem;
    font-size:1rem;
    margin-top: 1.5rem;
}

.taskName,.taskTime,.taskContent{
    height: 3rem;
    border-bottom:solid gray 0.08rem
}

#createTask span{
    display: block;
}













#neewAdd{
    position:fixed;
    bottom: 0;
    z-index:5;
    
}

#createTask .name,#createTask .task,#createTask .date{
    height: 3.5rem;
}


#createTask .name span,#createTask .date span,#createTask .task span{
    font-size: 1.2rem;
}
#createTask .name input{
    height: 1.2rem;
    font-size: 1rem;
}

#createTask .date textarea{
    height: 1.5rem;
    font-size: 1rem;
}
#createTask .task textarea{
    height: 1.5rem;
    font-size: 1rem;
}


#sureToAddContent{
    font-size: 1rem;
}

.prepareShow{
    display: block;
    -webkit-transform: translate3d(100%,0,0);
    background-color: #0040D0;
    height: 500px;
}
.canvasHidden{
    -webkit-transition: -webkit-transform 400ms;
    -webkit-transform: translate3d(-100%,0,0);
}
.needShow{
    -webkit-transition: -webkit-transform 800ms;
    -webkit-transform: translate3d(0,0,0);
}

.backToHidden{
    -webkit-transition: -webkit-transform 400ms;
    -webkit-transform: translate3d(-100%,0,0);
}
.backToShow{
    -webkit-transition: -webkit-transform 400ms;
    -webkit-transform: translate3d(0,0,0);
}


#neewAdd p{
    font-size:2rem;
}

.newInput{
    height: 100%;
    background-color: green ;
    opacity:0.5;
    position: absolute;
    top: 2.5rem;
    width: 100%;
    z-index: 10;


}